.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

mat-icon {
  margin-right: 10px;
}

.active {
  color: #ff8f00;
  background-color: rgba(130, 130, 130, 0.1);
}
